button {
    border-radius: 10px; height: 20%; width: 15%; background-color: #C6C6C6; color: #070707; font-size: 150%; text-align: center;
}

footer input {
    border-radius: 10px; font-size: 200%; font-style: default;
}