
@media (max-width: 900px) {
    html {
        overflow: scroll;
    }
    .page_content, .recent_post, .blog_content {overflow: scroll;

    }

}
@media (max-width: 600px) {
    html {
        overflow: scroll; height: auto;
    }
    .page_content, .blog_content {overflow: scroll;

    }
    .recent_post, footer {
    overflow: scroll;
    }
    
}
